.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 28, 38, .5);
  z-index: 1;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 350px;
    width: 400px;
    border-radius: 10px;
    background-color: #f5ecec;

    @media(min-width: 1600px) {
      width: 500px;
      height: 450px;
    }

    @media(max-width: 425px) {
      width: 310px;
      height: 300px;
    }
  }
         
  &__inner {
    margin: 0 0 10px 0;

    a {
      color: #435F40;
      cursor: not-allowed;

      @media (hover: hover), screen and (min-width: 0\0) {
        
        &:hover {
          text-decoration: underline;
        }
      }

      &:focus {
        outline: none;
      }
    }
  }
}
    
.form {
     
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  &__title {
    margin: 0 0 20px 0;
    padding: 10px 0 0 0;
    font-weight: 700;
    font-size: 26px;
    color: #435F40;

    @media(min-width: 1600px) {
      font-size: 30px;
    }

    @media(max-width: 425px) {
      font-size: 18px;
    }
  }
   
  &__inputs {
    display: flex;
    flex-direction: column;

    @media(max-width: 425px) {
      font-size: 14px;
    }
    
    input {
      margin: 5px 0 15px 0;
      padding: 5px;
      width: 300px;
      height: 40px;
      border-radius: 10px;
      border: 1px solid grey;

      @media(min-width: 1600px) {
        width: 350px;
        height: 50px;
      }

      @media(max-width: 425px) {
        width: 270px;
        height: 30px;
      }
    }
  }
    
  &__btn {
    padding: 10px 30px;
    margin: 10px 0 0 0;
    background-color: #435F40;
    border-radius: 25px;
    color: #ffff;
    transition: background-color .3s;

    @media(min-width: 1600px) {
      margin: 20px 0 0 0;
      padding: 15px 40px;
    }
      
    @media (hover: hover), screen and (min-width: 0\0) {
        
      &:hover {
        background-color: rgba(86, 115, 84, .8);
      }
    } 
  }
}